<header class="jumbotron text-center">
  <div class = "mx-auto ">
    <h1>Angular project try</h1>
  </div>
</header>
<article class = "display:flex">
  <nav class="nav justify-content-center navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand btn btn-secondary text-white" routerLink="getbyid">View Employee by id</a>
    <a class="navbar-brand btn btn-secondary text-white" routerLink="getall">View All Employees</a>
    <a class="navbar-brand btn btn-secondary text-white"routerLink="getbydept">View By Department</a>
    <a class="navbar-brand btn btn-secondary text-white" routerLink="addemployee">Add new Employee</a>
  </nav>
</article>
<router-outlet></router-outlet>